/*Page style*/
#__container{width:270px;padding:10px;margin:0 auto;}
#__example{width:270px;height:460px;position:relative;}
/* Slideshow */
#slides{position:absolute;top:15px;left:0px;z-index:10;}
.slides_container{width:265px;overflow:hidden;position:relative;display:none;}
.slides_container div.slide{width:270px;height:500px;display:block;}
/* Next/prev buttons */
#slides .next,#slides .prev{position:absolute;top:210px;left:-20px;width:150px;height:180px;display:block;z-index:101;}
#slides .next{left:130px;}
/* Pagination */
.pagination{margin:26px auto 0;width:265px; display:none;}
/* Caption */
.caption{
	position:absolute;
	height:40px;
	width:100%;
	padding:13px 0px;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	color:#333;
	background-color:#fff;
	text-shadow:none;
}
